/*common css start*/
body{
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}
/*common css end*/
/*header start*/
header{
    padding: 15px 0;
/*  border: 1px solid gray;*/
}
.container{
    margin: 0 auto;
    width: 90%;
/*  border: 1px solid;*/
    overflow: hidden;
}
.logo{
    margin-top: 15px;
    width: 9%;
/*  border: 1px solid red;*/
    float: left;
}
.logo img{
    width: 100%;
}
.menu{
    width: 65%;
/*  border: 1px solid blue;*/
    float: right;
}
.menu ul{
    float: right;
}
.menu ul li{
    list-style: none;
    float: left;
}
.menu ul li a{
    display: inline-block;
    margin: 0 80px;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
/*  border-bottom: 1px solid transparent;*/
    transition: 0.33s;
}
.menu ul li a:last-child{
    margin-right: 0;
}
.menu ul li a:hover{
    border-bottom: 1px solid #626262;
}
/*header end*/
/*banner start*/
.banner{}
.b_img{}
.b_img img{
    width: 100%;
}
/*banner end*/
/*weekend start*/
.weekend{
    padding: 80px 0;
}
.container2{
    margin: 0px auto;
    width: 80%;
/*  border: 1px solid;*/
    overflow: hidden;
}
.w_content{}
.c_tag{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
.c_tittle{
    margin: 20px 0 30px;
    font-size: 30px;
    font-weight: 400;
}
.c_text{
    margin: 0;
    line-height: 24px;
}
.mb_45{
    margin-bottom: 45px;
}

/*weekend end*/
/*blog start*/
.blog{
}
.s_blog{
    width: 47%;
/*  border: 1px solid;*/
    box-sizing: border-box;
    float: left;
}
.s_blog:nth-child(even){
    margin-left: 6%;
}

.s_img{
    margin-bottom: 25px;
}
.s_img img{
    width: 100%;
}
/*blog end*/
/*news start*/
.news{
    background-color: #f0f0f0;
    padding: 70px 0;
}
.signup{
    text-align: center;
}
.s_h1{
    font-size: 30px;
    font-weight: 400;
    color: #323232;
    margin-top: 0;
    margin-bottom: 70px;
    
}
.s_form{
    margin: 0 auto;
    width: 400px;
    position: relative;
}
.s_form input{
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    width: 400px;
    height: 45px;
    border: none;
    border-bottom: 1px solid #626262;
    background-color: transparent;
}
.s_input input:focus{
    outline: 0;
}
.s_form button{
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: 15px;
    right: 0;
}
.s_form button:focus{
    outline: 0;
}
.s_form button img{}
/*news end*/
/*load start*/
.load{
    margin: 200px auto;
    width: 200px;
    border: 1px solid #626262;
}
.container3{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
/*load end*/
/*footer start*/
footer{
    width: 100%;
    height: 100px;
    background-color:#f0f0f0;
}
.container4{
    margin: 0 auto;
    width: 80%;
    height: 100px;
/*  border: 1px solid red;*/
}
.menu2{
    margin: 18px;
    width: 50%;
/*  border: 1px solid blue;*/
    float: left;
}

.menu2 ul li{
    list-style: none;
    float: left;
}
.menu2 ul li a{
    margin: 0  60px;
    color: #626262;
    text-decoration: none;
/*  border-bottom: 1px solid transparent;*/
    transition: 0.33s;
}
.menu2 ul li a:first-child{
    margin-left: 0;
}
.menu2 ul li a:hover{
    border-bottom: 1px solid #626262;
}
.logo2{
    margin-top: 15px;
    width: 18%;
/*  border: 1px solid red;*/
    float: right;
}
.logo2 ul li{
    float: left;
    list-style: none;
    
}
.logo2 ul li a{
    margin: 20px;
    color: #626262;
    text-decoration: none;
    transition: 0.33s;
}
.logo2 ul li a:hover{
    border-bottom: 1px solid #626262;
}
.logo2 img{
    padding: 5px;
}
/*footer end*/